format = """
$username\
$hostname\
$directory\
$fill\
$git_branch\
$git_state\
$git_status\
$git_metrics\
$python\
$golang\
$terraform\
$cmd_duration $jobs $time\
$line_break\
$character"""

command_timeout = 2000

# Inserts a blank line between shell prompts
add_newline = true

[package]
disable = true

[fill]
symbol = ' '

[directory]
style = '#e5c890'
read_only = ' 󰌾'
truncation_length = 4
truncate_to_repo = false

[character]
success_symbol = '[❯](bold yellow)'
error_symbol = '[❯](bold red)'
vicmd_symbol = '[❯](bold green)'

[docker_context]
symbol = ' '
detect_files = ['docker-compose.yml', 'docker-compose.yaml', 'Dockerfile']
format = '[$symbol$context]($style) '
style = 'bright-cyan'

[kubernetes]
symbol = '󱃾 '
format = '[$symbol$context( \($namespace\))]($style) in '
style = 'bright-cyan'

[git_branch]
symbol = ' '
format = '[$symbol$branch]($style) '
style = 'bright-black'

[git_status]
format = "[($ahead_behind$stashed)]($style) "
style = "cyan"
stashed = "≡"
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"

[git_metrics]
disabled = false

[golang]
symbol = ' '
format = '[$symbol($version )]($style)'
style = 'green'

[python]
symbol = ' '
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'

style = 'blue'

[terraform]
symbol = '󱁢 '
format = '[$symbol($version )]($style)'
detect_extensions = ['tf', 'tfplan', 'tfstate']

[cmd_duration]
min_time = 500
format = "[$duration]($style)"
style = "bold yellow"

[time]
disabled = false
format = "[$time]($style)"
